<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Massage</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Your Application was submitted</h1>
            <h3>We Will contact you soon</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Pellentesque vestibulum tempus ipsum ac euismod. Duis <br>ultricies
                tellus a efficitur sollicitudin. Proin placerat<br> rhoncus tellus
                non efficitur. Mauris non mauris in felis porta<br> efficitur quis nec lectus.
                Maecenas sem felis, tincidunt in malesuada et,<br> imperdiet et elit. Nulla rhoncus urna
                ut lorem malesuada, maximus elementum purus gravida.<br> Praesent rhoncus odio leo, quis
                pellentesque enim eleifend nec. In sit amet neque scelerisque,<br> placerat justo sed, pretium dui.
                Curabitur ullamcorper condimentum urna, in maximus leo convallis non.<br> Vivamus dictum,
                magna ac varius faucibus, nisi quam convallis felis, quis scelerisque<br> nibh est sed metus.
                Quisque at urna id nisi dapibus<br> tempor sit amet nec diam. Suspendisse porta bibendum cursus.<br>
                Nam consectetur et nibh et rutrum. <br>Ut gravida lacus nulla, vitae euismod mauris ullamcorper sed.<br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/"><button class="btn btn-dark btn-outline-light btn-lg">Back To Home</button></a>
        </div>
    </div>
</div>

</body>
</html>